body {
    background-color: red;
}

.all-items-container {
    border-radius: 16px;
    background-color: #f1f1f1;
    width: 80%;
    margin: 20px auto;
    padding: 12px;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.all-items-container .items-count {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 20px;
}

.all-items-container .item-card .card {
    border: 2px solid #cecece;
    margin: 8px 12px;
    max-width: fit-content !important;
}

.all-items-container .item-card .card .btn{
    font-weight: bold;
}

.all-items-container .item-card .card:hover {
    background-color: #e1e1e1e1;
}


/* CSS for login and registration page */

.wrapper {
    margin:0 auto;
    margin-top: 32px;
    position: relative;
    height: 450px; 
    width: 420px;
    background: #DBD3D8;
    border-radius: 10px;
    color: black ;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: height .2s ease;

}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
 
   

}

.wrapper.wrapper.active{
    height:520px;
}

.wrapper .form-box.login{
transition: translate .18s ease;
    translate: 0;
}

.wrapper.active .form-box.login {
    transition: none;
    translate: -400px;
}

.wrapper .form-box.register{
    position: absolute;
    transition: none;
    translate: 400px;


}

.wrapper.active .form-box.register {
    transition: translate .18s ease;
    translate: 0;
}


form h1{
    font-size:36px ;
    text-align: center;
}

form .input-box{
  
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    border-color: black !important;
   

}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .1);
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;

}

.input-box input::placeholder{
    color:black
}

.input-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -50%;
    font-size: 16px;

}

form .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;

}

.remember-forgot label input{
    accent-color: black;
    margin-right: 4px;


}

.remember-forgot a{
    color: black;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

form button {
    width: 100%;
    height: 45px;
    background:#93A7AA ;
    border: none;
    outline:none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color:#333;
    font-weight: 700;
}

form .register-link{
    font-size:14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color:black;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration:underline;
    
}